@charset "UTF-8";
header {
	background: linear-gradient(116.93deg, #3f4954 1%, #26292d 80%);
	height: 60px;
	width: 100%;
}

footer {
	background: linear-gradient(116.93deg, #3f4954 1%, #26292d 80%);
	height: 60px;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 1000;
}

span {
	display: inline-block;
	margin-top: 13.4px;
	margin-left: 83%;
}

#a {
	text-decoration: none;
	background-color: #43d7ff;
	border: 3px solid #43d7ff;
	font-family: serif;
	font-size: 22px;
	border-radius: 5px;
	color: #26292d;
}

#a:hover {
	border-color: #FFC436;
}

body {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#d {
	border: #3f4954 solid 1px;
	margin-top: 75px;
	margin-bottom: 110px;
	margin-left: 30%;
	margin-right: 30%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	background-color: #FFFFFF;
	border-radius: 30px;
}

#i1, #i5 {
	cursor: pointer;
	border-radius: 5px;
}

#head {
	color: #43d7ff;
	font-family: serif;
}

#failure {
	margin-top: 30px;
	color: #C70039;
}

#success {
	margin-top: 30px;
	color: #65B741;
}

#submit {
	margin-right: 22px;
	font-size: 22px;
	background: linear-gradient(to right, #26292d, #43d7ff);
	border: none;
	color: white;
	cursor: pointer;
	transition: background 0.3s;
	border-radius: 5px;
	display: inline-block;
}

.forgot, p {
	color: #C70039;
}

input:hover {
	border-color: #43d7ff;
}